*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div{
  width: 100%;
  height: 100vh;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  padding: 20px 30px;
  font-size: 3vh;
  cursor: pointer;
  border-radius: 10px;
  border: 0;
}
